body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", Arial, sans-serif;
}

body {
    background-color: rgb(248, 248, 248);
}

footer {
    height: 10em;
    width: 100%;
}

#nav-container {
    background: white;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

#youtube-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 1em;
}

#hamburger-icon {
    height: 50%;
    cursor: pointer;
}

#youtube-logo {
    height: 80%;
    cursor: pointer;
    margin-left: 1em;
}

#youtube-searchbar-container {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 0.5em;
    flex-grow: 2;
}

#youtube-searchbar-container form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#youtube-searchbar {
    width: 50%;
    height: 2em;
    font-size: 14px;
    color: #929292;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    padding-right: 5em;
    margin-left: 5em;
    outline: none;
}

#youtube-search-button {
    padding: 0 2em;
    margin: 0;
    border: 1px solid #c4c4c4;
    border-left: none;
    cursor: pointer;
    outline: none;
}

#youtube-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#youtube-profile-container a {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#youtube-profile-container .fa {
    color: #606060;
    font-size: 1.2em !important;
    cursor: pointer;
}

#youtube-profile-container .material-icons {
    color: #606060;
    margin: 0 1.5em;
    font-size: 1.6em !important;
    cursor: pointer;
}

#user-pfp {
    width: 35%;
    border-radius: 75px;
    margin: 0;
    margin-left: 0.5em;
    padding: 0;
}

#main-container {
    background: rgb(248, 248, 248);
    height: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

#article-container {
    background: rgb(248, 248, 248);
    max-width: 730px;
    width: 95%;
    height: auto;
    margin: 2em 0.5em;
    flex-grow: 2;
}

#aside-container {
    display: flex;
    flex-direction: column;
    max-width: 385px;
    width: 35%;
    height: auto;
    margin: 2em 0.5em;
    flex-grow: 1;
}

.thumbnail-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.thumbnail-image-container {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 0.5em;
    max-width: 168px;
    min-width: 168px;
    height: auto;
}

.thumbnail-image {
    max-width: 100%;
    height: auto;
}

.thumbnail-title {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    color: #3b3b3b;
    font-weight: bold;
}

.thumbnail-creator {
    font-size: 13px;
    color: #606060;
    padding: 0;
    margin: 0.4em 0 0.2em 0;
}

.thumbnail-additional {
    font-size: 13px;
    color: #606060;
    padding: 0;
    margin: 0;
}

#thumbnail-buttons {
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#thumbnail-buttons-selected {
    border: 1px solid rgb(158, 158, 158);
    padding: 0.6em 1em;
    border-radius: 15px;
    background-color: rgb(117, 117, 117);
    color: rgb(231, 231, 231);
    outline: none;
    cursor: pointer;
    margin-right: 0.3em;
}

.thumbnail-buttons-unselected {
    border: 1px solid rgb(158, 158, 158);
    padding: 0.6em 1em;
    border-radius: 15px;
    color: rgb(59, 59, 59);
    outline: none;
    cursor: pointer;
    margin-right: 0.3em;
}

#video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#title {
    font-size: 18px;
    font-weight: 400;
    margin-top: 1.2em;
    margin-bottom: 0px;
}

#title-additional-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title-views {
    color: #606060;
    font-size: 14px;
    margin-bottom: 1em;
}

#like-dislike-bar-container {
    display: flex;
    flex-direction: column;
}

.like-dislike-bar-icon {
    font-size: 14px;
    color: #606060;
    margin: 0;
    margin-left: 1em;
    margin-top: 0.4em;
    padding: 0;
}

.like-dislike-bar-text {
    font-size: 14px;
    color: #606060;
    margin: 0;
    margin-top: 1em;
    margin-left: 0.3em;
    padding: 0;
}

#like-dislike-interaction-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

#like-dislike-bar {
    height: 2px;
    width: 9em;
    background-color: #606060;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    margin-left: 1em;
}

.fa-thumbs-up{
    font-size: 1.5em !important; /*size whatever you like*/
    cursor: pointer;
}

.fa-thumbs-down{
    font-size: 1.5em !important; /*size whatever you like*/
    cursor: pointer;
}

.subscribe-bell{
    font-size: 1.2em !important; /*size whatever you like*/
    cursor: pointer;
    margin: 0 0.5em;
    color: #606060;
}

.fa-search {
    color: #606060;
}

.fa-microphone {
    font-size: 1.4em !important;
    margin: auto 0.7em;
    color: #606060;
    cursor: pointer;
}

.fa-share {
    font-size: 1.5em;
    color: #606060;
    cursor: pointer;
    margin: 0;
    margin-top: 0.7em;
    margin-left: 1.2em;
    padding: 0;
    font-weight: bold;
}

.fa-save {
    font-size: 1.5em;
    color: #606060;
    cursor: pointer;
    margin: 0;
    margin-top: 0.7em;
    margin-left: 1em;
    padding: 0;
    font-weight: bold;
}

.fa-ellipsis-h {
    font-size: 1.5em;
    color: #606060;
    cursor: pointer;
    margin: 0;
    margin: 1.2em 0.5em 0 1.5em;
    padding: 0;
    font-weight: bold;
}

hr {
    margin: 0;
    padding: 0;
    border-top: 1px solid #c2c2c2;
}

#description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#profile-picture-container {
    margin-top: 1em;
}

#profile-name-container {
    margin-left: 1em;
    margin-top: 1.5em;
}

#profile-picture {
    border-radius: 75px;
    cursor: pointer;
}

#profile-name {
    font-weight: 550;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #030303;
    cursor: pointer;
}

#profile-subscribers {
    font-size: 13px;
    padding: 0;
    margin: 0;
    margin-top: 0.2em;
    color: #606060;
}

#profile-description-container {
    margin-top: 1.5em;
}

.profile-description {
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-top: 0.4em;
}

.profile-description a {
    text-decoration: none;
}

#name-title-container {
    display: flex;
    flex-direction: row;
}

#show-more {
    color: #606060;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#subscribe-container {
    margin-top: 1.5em;
}

#subscribe-button {
    border: 0px solid gray;
    color: #606060;
    font-weight: bold;
    padding: 1em;
    cursor: pointer;
    outline: none;
}

@media (max-width: 1100px) {
    #aside-container {
        display: none;
    }
}